.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-image {
    width: 100%;
    height: 198px;
    margin-top: 20px;
}
.scrollTitle {
    width: 100%;
    height: 50px;
}
.scrollContent {
    width: 100%;
}
.title-text-checked {
    font-size: 32px;
    width: 52px;
    height: 40px;
    padding: 18px;
}
.title-text-uncheck {
    font-size: 28px;
    width: 52px;
    height: 40px;
    padding: 18px;
}
.swipe {
    width: 100%;
    height: 198px;
}
.float-view {
    z-index: 10;
    padding: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picker-view {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: bisque;
}
.square-picker {
    font-size: 25px;
}