.event-list-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event-item {
  width: 100%;
  height: 201px;
  display: flex;
  flex-direction: column;
}
.event-divider {
  width: 100%;
  height: 1px;
  background-color: black;
}
.event-content {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.item-view-left {
    width:70%;
    height: 206px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.item-view-right {
    width:30%;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-view-title {
    font-size: 24px;
    color: '#101010';
}
.item-view-subTitle {
    font-size: 16px;
    color: '#c7c7c7';
}
.item-view-image {
    width: 120px;
    height: 120px;
}